@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 1rem;
  height: 7rem;
  background-color: gainsboro;
  width: 100%;
}

.footerInfo{
  justify-content: center;
padding: 0.5rem;
}

.footerNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-right: 3vh;
  list-style: none;
}