.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 3rem;
}

.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    gap: 2.5em;
    padding: 1rem;
    width: 100%;
}

.productCard{
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 195, 173);
    padding: 0.5rem;
    align-items: center;
}

.productCard:hover{
    transform: scale(1.005);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
}

.productImgCont{
    max-width: fit-content;
}

.productImg{
    width: 250px;
}

.producCarrito{
    text-align: center;
    margin-left: 30px ;
    margin-right: 30px ;
    padding: 10px;
    background-color: rgb(143, 139, 120);
    border-radius: 15px;
}



.producCarrito:hover {
    cursor: pointer;
}